body{
    background: peachpuff;
    display: flexbox;
    justify-items: center;
    align-items: center;

}
.grid{
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}